@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    color: #1e293b;
    background-color: #fafbfc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
}
